.about {
    text-align: left;
    font-family: font-400, sans-serif;

    margin-bottom: 100px;

  
    .dropdown-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-top: 50px;

    }
  }
  
  .dropdown {
    // margin-bottom: 20px;
    .title {
      color: #ff6060;


      
    }
  
    .content {
      color: #ff6060;

      background: #f6f6f6;
      border-radius: 5px;
      padding: 27px 20px;
      width: 100%;
      height: auto;
    
    }
  }
  