.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../header/bg-sea-min.png) center / cover;
    border-radius: 20px;
    height: 223px;
    width: 89%;
    margin-left:80px;
   
  
  
    h1 {
      color: white;
      font-family: font-400;
      font-weight: 500;
      font-size: 48px;
    }
  }
  