.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  
    .links {
      display: flex;
      align-items: center;
      margin-right: 80px;
  
      a {
        margin-left: 0.5rem; 
        text-decoration: none;
        color: #333;
  
        &:hover {
          color: #ff6060;
        }
  
        &.activeLink {
          border-bottom: 2px solid #0d0d0e;
        }
      }
    }

  
  }



  @media screen and (max-width: 768px) {
    .navbar {
      padding: 0.5rem;
  
      .logo {
        width: 170px;
        margin-left: 25px;
  
        img {
          width: 100%;
          max-width: 170px;
        }
      }
  
      .links {
        margin-right: 30px;
  
        a {
          margin-left: 1rem;
        }
      }
    }
  }
  
  @media screen and (max-width: 425px) {
    .navbar {
      padding: 0.5rem;
    
  
      .logo {
        width: 170px;
        margin-left: 25px;
  
        img {
          width: 100%;
          max-width: 170px;
        }
      }
  
      .links {
        margin-right: 30px;
  
        a {
          margin-left: 1rem;
        }
      }
    }
  }
  
  @media screen and (max-width: 320px) {
    .navbar {
   
      margin-left: 10px;
      width: 120%;
   
  
      .logo {
        width: 170px;
        margin-left: 25px;
  
        img {
          width: 100%;
          max-width: 170px;
        }
      }
  
      .links {
        margin-right: 15px;
  
        a {
          margin-left: 1rem;
          font-size: 12px;
        }
      }
    }
  }
  
  @media screen and (max-width: 376px) {
    .navbar {
      width: 120% !important;
   
      margin-left: 10px;
    
   
  
      .logo {
        width: 170px;
        margin-left: 25px;
  
        img {
          width: 100%;
          max-width: 170px;
        }
      }
  
      .links {
        margin-right: 15px;
  
        a {
          margin-left: 1rem;
          font-size: 15px;
        }
      }
    }
  }
  



