.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .logo {
        margin-right: auto;
    }

    .links {
        display: flex;
        align-items: center;
        margin-right: 80px;

        a {
            margin-left: 1rem;
            text-decoration: none;
            color: #333;

            &:hover {
                color: #FF6060;
            }

            &.activeLink {
                border-bottom: 2px solid #0d0d0e;
            }
        }
    }
}
